<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m">
  <select id="selectMember" resultType="membervo">
  	select * from member100 where id=#{username}
  </select>
  
  <insert id="insert">
  	insert into member100 values(#{id},#{pwd},#{name},#{role})
  </insert>
</mapper>