<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">
 
 <delete id="delete">
 	delete book where bookid=#{bookid}
 </delete>
 
 <update id="update">
 	update book set bookname=#{bookname}, publisher=#{publisher}, price=#{price} where bookid=#{bookid}
 </update>
 
 <insert id="insert">
 	insert into book values(#{bookid}, #{bookname}, #{publisher}, #{price})
 </insert>
 
  <select id="selectAll" resultType="bookvo">
    select * from book order by bookid
  </select>
</mapper>