<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
  
  <select id="selectMember" resultType="100vo">
    select * from member100 where id =#{username}
    <!-- 스프링 시큐리티가 만들어주는 아이디가 유저네임 -->
  </select>
  
  <insert id="insert">
  	insert into member100 values(#{id},#{pwd},#{name},#{role})
  </insert>
</mapper>