<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>상품수정</h2>
	<form action="insert" method="post">
		상품번호 : <input type="text" name="id" th:value="${p.id}" ><br>
        상품이름 : <input type="text" name="name" th:value="${p.name}" ><br>
        상품가격 : <input type="text" name="price" th:value="${p.price}"><br>
        상품구분: <select name="category.cid">	
        			<option th:each="c : ${clist}" th:text="${c.type}" th:value="${c.cid}"></option>
        		 </select>
        <input type="submit" value="수정">
	</form>
</body>
</html>